name: code quality
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ (github.ref == 'refs/heads/main' && github.sha) || github.ref }}
  cancel-in-progress: true
jobs:
  clippy_check:
    runs-on: namespace-profile-standard-ubuntu22-amd64
    steps:
      - name: clone code
        uses: namespacelabs/nscloud-checkout-action@v5
        with:
          submodules: recursive
      - name: Install Protoc
        run: sudo apt-get install -y protobuf-compiler
      - name: install Rust
        uses: actions-rs/toolchain@v1
        with:
          # If you update this, also update build.mjs
          toolchain: nightly-2023-11-16
          override: true
      - run: rustup component add clippy rustfmt
      - name: format
        run: cargo fmt --all -- --check
      - name: lint
        run: cargo clippy --features test_ci --exclude grit-wasm-bindings --workspace --locked -- -D warnings
